:root {
    /* Common Colors */
    --primary-color: #66a5e8;
    --primary-color-light: #c1dbf5;
    --primary-color-dark: #004bb5;
    --secondary-color: #ffc107;
    --secondary-color-light: #ffd633;
    --secondary-color-dark: #e0a800;
    --text-color: #333;
    --background-color: #f8f9fa;
    --background-color-dark: #e9ecef;

    /* Dark Mode Colors */
    --dark-primary-color: #004bb5;
    --dark-primary-color-light: #3388ff;
    --dark-primary-color-dark: #002f8c;
    --dark-secondary-color: #ffd633;
    --dark-secondary-color-light: #ffe066;
    --dark-secondary-color-dark: #b38a00;
    --dark-text-color: #f8f9fa;
    --dark-background-color: #414141;
    --dark-background-color-dark: #1c1c1c;

    /* Text on Backgrounds */
    --text-on-light-bg: var(--text-color);
    --text-on-dark-bg: var(--dark-text-color);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color-dark);
}

body.dark-mode a {
    color: var(--dark-primary-color-light);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

.btn-primary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}

body.dark-mode .btn-primary {
    background-color: var(--dark-primary-color);
}

body.dark-mode .btn-primary:hover {
    background-color: var(--dark-primary-color-dark);
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

body.dark-mode .table {
    background-color: var(--dark-background-color-dark);
    color: var(--dark-text-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid var(--background-color-dark);
}

body.dark-mode .table th, body.dark-mode .table td {
    border-top: 1px solid #444;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color-dark);
    color: var(--text-color);
    cursor: pointer;
}

body.dark-mode .table thead th {
    border-bottom: 2px solid var(--dark-primary-color);
    background-color: var(--dark-background-color-dark);
    color: var(--dark-text-color);
}

.table thead th:hover {
    background-color: var(--primary-color-light);
}

body.dark-mode .table thead th:hover {
    background-color: var(--dark-primary-color-light);
}

.table tbody tr {
    transition: background-color 0.2s ease-in-out;
}

.table tbody tr:hover {
    background-color: var(--primary-color-light);
}

body.dark-mode .table tbody tr:hover {
    background-color: var(--dark-primary-color-light);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--background-color-dark);
}

body.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: #3a3a3a;
    color: var(--dark-text-color);
}

body.dark-mode .table-striped tbody tr:nth-of-type(even) {
    background-color: var(--dark-background-color-dark);
    color: var(--dark-text-color);
}

.table-hover tbody tr:hover {
    color: var(--text-color);
}

body.dark-mode .table-hover tbody tr:hover {
    color: var(--dark-text-color);
}

.table-bordered {
    border: 1px solid var(--background-color-dark);
}

body.dark-mode .table-bordered {
    border: 1px solid #777;
}

.table-secondary.category-header {
    background-color: var(--primary-color-light);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-top: 2px solid var(--primary-color-dark);
    border-bottom: 2px solid var(--primary-color-dark);
}

body.dark-mode .table-secondary.category-header {
    background-color: var(--dark-primary-color);
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .modal-content {
    background-color: var(--dark-background-color-dark);
    color: var(--dark-text-color);

}

.modal-header, .modal-footer {
    border-color: var(--background-color-dark);
}

body.dark-mode .modal-header, body.dark-mode .modal-footer {
    border-color: var(--dark-background-color);
    color: var(--dark-text-color);

}

.modal-body .input-group input, .modal-body .input-group button {
    background-color: var(--background-color-dark);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
}

body.dark-mode .modal-body .input-group input, body.dark-mode .modal-body .input-group button {
    background-color: var(--dark-background-color);
    border: 1px solid var(--dark-primary-color);
    color: var(--dark-text-color);

}

.cookie-consent {
    position: fixed; /* Fixes the banner to the bottom of the viewport */
    bottom: 0;       /* Aligns it at the bottom */
    left: 0;         /* Stretches from the left */
    width: 100%;     /* Takes the full width of the viewport */
    background-color: var(--primary-color-dark); /* Background color */
    color: #fff;     /* Text color */
    z-index: 1000;   /* High z-index to ensure it appears on top of other elements */
    display: none;   /* Hidden by default */
    padding: 1rem;   /* Adds some padding */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
    text-align: center; /* Centers the text and content */
}

.cookie-consent.show {
    display: block;
}

body.dark-mode .cookie-consent {
    background-color: var(--dark-primary-color-dark);
    color: var(--dark-text-color);

}

.cookie-consent a {
    color: var(--secondary-color);
    text-decoration: underline;
}

body.dark-mode .cookie-consent a {
    color: var(--dark-secondary-color-light);
    color: var(--dark-text-color);

}

.cookie-consent button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 5px;
    transition: background-color 0.3s;
}

body.dark-mode .cookie-consent button {
    background-color: var(--dark-secondary-color-dark);
}

#search {
    background-color: var(--background-color-dark);
    border: 1px solid var(--primary-color);
    color: var(--text-color);
}

body.dark-mode #search {
    background-color: var(--dark-background-color-dark);
    border: 1px solid var(--dark-primary-color);
    color: var(--dark-text-color);
}

#search::placeholder {
    color: rgba(51, 51, 51, 0.5);
    opacity: 1;
}

body.dark-mode #search::placeholder {
    color: rgba(248, 249, 250, 0.7);
}

#themeToggle {
    border: none;
    background: none;
    padding: 0;
}

#themeToggle img {
    width: 24px;
    height: 24px;
}

#themeToggle:hover {
    opacity: 0.8;
}

.theme-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

body.dark-mode .theme-icon {
    color: #ffffff;
    fill: currentColor;
}

i.fas, i.fab {
    color: var(--text-color);
    font-size: 40px;
}

body.dark-mode i.fas, body.dark-mode i.fab {
    color: var(--dark-text-color);
}


.qrl{
filter: invert(18%) sepia(3%) saturate(6%) hue-rotate(325deg) brightness(99%) contrast(92%);
}

body.dark-mode .qrl{
    filter: invert(99%) sepia(94%) saturate(746%) hue-rotate(180deg) brightness(107%) contrast(95%);
}